@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

.dataWrite
  border-radius 1em
  width 80%
  color black
  margin 10px auto
  background-color white
  box-shadow 11px 5px 29px 6px rgba(226,226,229,1)
  display grid
  grid-template-columns 1fr 1fr
  justify-content center
  align-items center
  height 70px

.dataWrite-title h3
  margin 0
  padding-left 10px

.dataWrite-inf__consolidado
  font-family: 'Archivo Black', sans-serif

.dataWrite-inf__average
  color: #009D71