.Menu{
  display grid
  grid-template-rows: repeat(3, 30px)
  width: 20%
  }

.Menu a{
  align-self: center
  text-align: center
  border-radius: 10px
  text-decoration: none
  color white
}

.Menu a:hover{
  background-color white
  color #2C305B
}