.Profile
  width 20%
  display grid
  grid-template-columns: 1fr 2fr
  color white

.Profile img
  justify-self center
  align-self center
  width 60px
  border-radius 50%

.Profile-info h3
  font-size 1.5em
  margin 0

.Profile-info span
  font-size 1em

